{:kotoba.app/id "cloud.itonami.isic-5911", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigrwrde7exk2om6nom5t7v6nd5g6oay3qfkp2rsfbjlkgpjjmc4ky", :kotoba.app/embed-url "ipfs://bafkreigrwrde7exk2om6nom5t7v6nd5g6oay3qfkp2rsfbjlkgpjjmc4ky", :published {:archive "https://kotobase.net/ipfs/bafkreigrwrde7exk2om6nom5t7v6nd5g6oay3qfkp2rsfbjlkgpjjmc4ky", :size 72183, :put-status 201, :get-status 200, :at "2026-08-15T13:49:32.246Z"}}
